body{
    background-color: rgb(5, 205, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: sans-serif;
}
.container{
    background-color: white;
    display: flex;
    padding: 20px;
    border-radius: 20px;
}
.personal-box{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.small-team{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-right:2px solid rgb(128, 128, 128) ;
   border-left: 2px solid rgb(128, 128, 128) ;
}
.box-enterprise{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
h2{
    color: gray;
}
p{
    color: rgb(1, 103, 255);
    font-weight: 500px;
    text-align: center;
    font-size: 20px;
    
}
h1{
    color: rgb(36, 36, 247);
}
.btn-1{
    border-radius: 20px;
    width: 150px;
    height: 50px;
    border: 1px solid rgb(1, 103, 255);
    color: white;
    font-weight: 500;
}
.btn-blue{
    background-color: rgb(1, 103, 255);
}